[submodule "lib/presto"]
	path = lib/presto
	url = git@github.com:robotpony/Presto.git
[submodule "lib/parsedown"]
	path = lib/parsedown
	url = git@github.com:robotpony/parsedown.git
[submodule "lib/chronicle.md"]
	path = lib/chronicle.md
	url = git@github.com:robotpony/chronicle.md.git
